body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.gallery {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.gallery img {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

#form, #message, #congratulation {
    display: none;
}

.hidden {
    display: none;
}
